.signin-heading {

	
	justify-content: center;
	display: flex;
	margin-top: 40px, !important;
	text-align: center;
	padding-bottom: 40px;
	font-style: italic;
	font-size: 40px;




}

.signin-form {

	justify-content: center;
	display: flex;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;

}


.signup-heading {

	justify-content: center;
	display: flex;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
	font-style: italic;
	font-size: 40px;
	margin-top: 20px;


}

.signup-form {
	justify-content: center;
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 80px;
	padding-right: 110px;
	font-weight: bold;



}

.form-heading {
	justify-content: center;
	display: flex;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.signin-div {
	line-height: 200px;
	background: url('./CurbsideChickenlogo.png');
	background-repeat: no-repeat; 
	background-position: center center;
	padding-top: 100px;
	border-radius: 50%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    border: 1px;


}


.signup-link {

	justify-content: center;
	display: flex;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;

}

.name-form {

	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;

}

.car-form {

	margin-bottom: 50px;
	margin-left: 50px;
	margin-bottom: 150px;
	background-color: white;

}

.bottom-nav {
	text-align: center;
}

.profile-div {
	background-color: blue;
}

.footer-pic {
	margin-bottom: 5;
  	justify-content: center;
 	width: 200;
 	margin: 0 auto;
 	display: flex;
 	position: absolute;
 	text-align: center;
}


